@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local('Ubuntu'), local('Ubuntu-Regular');
}

body {
  font-family: 'Ubuntu', sans-serif;
  @apply bg-crimson-50 text-brown-500;
  overflow: hidden;
}

.scrollbar__thumb {
  @apply bg-gradient-to-t from-crimson-500 to-orange-500;
  cursor: default;
}

.fa-orange {
  filter: drop-shadow(0px 8px 11px -4px rgba(243, 88, 39, 0.3));
}
