@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local('Ubuntu'), local('Ubuntu-Regular');
}

body {
  font-family: 'Ubuntu', sans-serif;
  @apply bg-gray-800 text-gray-200;
  overflow: hidden;
}

.scrollbar__thumb {
  @apply bg-gradient-to-t from-emerald-700 to-emerald-500;
  cursor: default;
}